<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.banuba.sdk.example">

    <!-- For Giphy sticker loader and AR Cloud-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApp"
        android:label="Face AR and VE samples"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="Select sample"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FaceArActivity"
            android:label="Face AR and Video Editor"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".offscreen.OffscreenActivity"
            android:label="Offscreen Face AR and Video Editor"
            android:screenOrientation="portrait"/>

    </application>
</manifest>